
<%= form_for(:userlogindetail) do |f| %>
    
<div id="forms" class="shadow">
	 
 <table id="tablealign" cellpadding="5" cellspacing="5">
 	<tr>
 		<th colspan="2" class="blur">Login</th>
 	</tr> 	
 	<tr>
 		<td>
   <%= f.label :useremail,"Email"%>			
 		</td>
 		<td>
 	<%= f.text_field :useremail,:class=>"curved" %>		
 		</td>
 	</tr>
 	<tr>
 		<td>
   <%= f.label :userpassword, "Password"%>			
 		</td>
 		<td>
 	<%= f.password_field :userpassword,:class=>"curved"  %>		
 		</td>
 	</tr>
 	
 	<tr>
 		<td colspan="2" align="center">
 	<%= f.submit "Sign-in",:class=>"curvedbtn" %>		
 		</td>
 	</tr>
 </table>    
  </div>
<% end %>


