
<%= form_for(:userlogindetail) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this Userdetails from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
<div id="forms">  
 <table id="tablealign" cellpadding="5" cellspacing="5">
 	<tr>
 		<th colspan="2">New User...</th>
 	</tr>
 	<tr>
 		<td >
 	<%= f.label :username%>		
 		</td>
 		<td>
 	<%= f.text_field :username %>		
 		</td>
 	</tr>
 	<tr>
 		<td>
   <%= f.label :useremail,"Email"%>			
 		</td>
 		<td>
 	<%= f.text_field :useremail %>		
 		</td>
 	</tr>
 	<tr>
 		<td>
   <%= f.label :userpassword, "Password"%>			
 		</td>
 		<td>
 	<%= f.password_field :userpassword  %>		
 		</td>
 	</tr>
 	<tr>
 		<td>
    <%= f.label :mobileno, "Mobile-No"%> 			
 		</td>
 		<td>
 			<%= f.password_field :mobileno %>
 		</td>
 	</tr>
 	<tr>
 		<td colspan="2" align="center">
 	<%= f.submit "Register" %>		
 		</td>
 	</tr>
 </table>    
  </div>
<% end %>


